
    <tr>
      <td width="44">Name</td>
      <td width="237"><label>
        <td><input type="text" name="textfield" value="{{ i['name'] }}"/></td>
      </label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <td><input type="text" name="textfield2" value="{{ i['place'] }}"/></td>
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
       <td> <input type="text" name="textfield3" value="{{ i['pin'] }}"/></td>
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
       <td> <input type="text" name="textfield4" value="{{ i['post'] }}"/></td>
      </label></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <td><input type="file"  name="filefield"></td>

      </label></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><label>
       <td><input type="text" name="textfield5" value="{{ i['contact'] }}"/></td>
      </label></td>
    </tr>
    <tr>
      <td height="26">Email</td>
      <td><label>
        <td><input type="text" name="textfield6" value="{{ i['email'] }}"/></td>
      </label></td>
    </tr>
    <tr>
      <td height="26" colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Edit" />
          </div>
      </label></td>
    </tr>
  </table>
  <label>

  </label>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
