<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/view_user_post">
    <table border="1">
        <tr>
            <td>Item name</td>
            <td><input type="text" name="textfield"></td>
            <td>
            <input type="submit" name="submit" value="search">
            </td>
        </tr>

    </table>
  <table width="200" border="1">
    <tr>
      <td>Sl.no</td>
      <td>Name</td>
      <td>Image</td>
      <td>Gender</td>
      <td>&nbsp;Place</td>
        <td>Pin</td>
        <td>Post</td>
      <td>District</td>
      <td>Phone</td>
      <td>Email</td>
        <td>Latitude</td>
        <td>Longitude</td>



    </tr>
       {% for i in data  %}
      <tr>
           <td height="72">{{ loop.index }}&nbsp;</td>
          <td>&nbsp;{{ i['name'] }}</td>
          <td>&nbsp;{{ i['image'] }}</td>
      <td>&nbsp;{{ i['gender'] }}</td>
      <td>&nbsp;{{ i['place'] }}</td>
          <td>&nbsp;{{ i['pin'] }}</td>
      <td>&nbsp;{{ i['post'] }}</td>
      <td>&nbsp;{{ i['district'] }}</td>
          <td>&nbsp;{{ i['phone'] }}</td>
      <td>&nbsp;{{ i['email']}}</td>
      <td>&nbsp;{{ i['latitude'] }}</td>
          <td>&nbsp;{{ i['longitude'] }}</td>


      </tr>
      {% endfor %}


  </table>
</form>
</body>
</html>