{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/view_items_post">
    <table class="table table-striped">
        <tr>
            <th>Item name</th>
            <td><input type="text" name="textfield" class="form-control" required></td>
            <td>
            <input type="submit" name="submit" value="search" class="btn btn-info" required>
            </td>
        </tr>

    </table>
  <table class="table table-striped">
    <tr>
      <th>sl.no</th>
      <th>Name</th>
        <th>Image</th>
      <th>Price</th>
      <th>Discription</th>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;<img src="{{ i['image'] }}" height="100px" width="100px"></td>
      <td>{{ i['price'] }}</td>
        <td>{{ i['description'] }}</td>
      <td><p><a href="/edit_items/{{ i['item_id'] }}" class="btn btn-outline-info">Edit</a></p>
      <p><a href="/del_items/{{ i['item_id'] }}" class="btn btn-outline-danger">Delete</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}